<div>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Details</ion-label>
      <ion-input formControlName="details"></ion-input>
    </ion-item>
  </form>
  <h2 *ngIf="!!item && item.isComplete" class="complete-text">Complete!</h2>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="item.isComplete" (click)="onCompleteItem()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
